/* A4036F
048BA8
16DB93
EFEA5A
F29E4C */

:root {
    --pink: #A4036F;
    --blue: #048BA8;
    --green: #16DB93;
    --yellow: #EFEA5A;
    --orange: #F29E4C;
    --grey: #000814;
    --white: #f6f7eb;
  }

body {
    background-color: var(--grey);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: relative;
}

.hide {
    display: none;
}

/******************************/
/* Header                     */
/******************************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--blue);
    max-width: 500px;
    margin: 0 auto;
}

.howToPlay_icon {
    height: 32px;
    width: 50px;
    color: var(--white);
    margin: 0;
    font-size: 32px;
    text-align: center;
}

#navTitle {
    font-size: 3rem;
    text-decoration: none;
    color: var(--blue);
}

figure {
    margin: 0;
}

#stats {
    fill: var(--blue);
    height: 50px;
    width: 50px;
}

#stats path{
    fill: var(--blue);
}

/******************************/
/* Main page                  */
/******************************/
#mainMenu {
    margin: auto;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 90vw;
    height: 90vh;
    margin: auto;
    justify-content: center;
}

.menu_button {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bolder;
    text-decoration: none;
}

#howToPlay:hover {
    background-color: var(--blue);
    color: var(--white);
}

#newGame:hover {
    background-color: var(--green);
    color: var(--grey);
}

/******************************/
/* How to play modal          */
/******************************/
.howToPlay__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 900px;
    height: 100%;
    z-index: 10;
    max-width: 80vw;
    max-height: 90vh;
    background-color: var(--grey);
    border: 5px solid var(--white);
    border-radius: 5px;
    padding: 20px;
}

.howToPlay__close {
    position: sticky;
    top: 0;
    left: 100%;
    margin: 0;
    font-size: 24px;
}

.howToPlay__title {
    color: var(--white);
}

.howToPlay__subtitle {
    color: var(--white);
    text-decoration: underline;
}

.howToPlay__copy {
    color: var(--white);
    font-weight: 400;
    margin: 0;
}

.howToPlay__colours-list {
    padding: 0;
    list-style-type: none;
    color: var(--white);
}

.howToPlay__colours {
    display: flex;
    padding: 5px 0;
    gap: 10px;
}

.howToPlay__image-container {
    padding: 10px;
    text-align: center;

}

.howToPlay__image {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.image-letter {
    width: 80px;
    height: 80px;
}

/******************************/
/* Game board                 */
/******************************/
#letterSection { 
    margin: 50px 0;
    text-align: center;
    max-height: 500px;
}

.letter_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
}

.rows {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: center;
    height: 10vw;
    min-height: calc(300px / 5);
    max-height: calc((500px - 20px) / 5);
}

.letter_box {
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 5px;
    width: 10vw;
    min-width: calc(300px / 5);
    max-height: calc(500px / 5);
    margin-right: 5px;
    cursor: pointer;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: var(--green);
}

.correctBorder {
    border-color: var(--green);
}

.correctRow {
    background-color: var(--orange);
}

.correctRowBorder {
    border-color: vvar(--orange);
}

.correctCol {
    background-color: var(--pink);
}

.correctColBorder {
    border-color: var(--pink);
}

.selected {
    background-color: var(--blue);
    color: var(--white);
}

.button {
    border: 2px solid var(--white);
    border-radius: 5px;
    background-color: var(--grey);
    color: var(--white);
}


.check { 
    height: 100px;
    width: 100px;
}

.check:hover {
    background-color: var(--blue);
    color: var(--white);
}

.counter__title,
.counter__count {
    color: var(--white);
}

#checkBox {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 500px;
    min-width: 300px;
}

#checkImg { 
    height: 100px;
    width: 100px;
}